@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito:ital,wght@0,200;1,200&display=swap');

:root {
  --text: #667085;
  --main: #8E2424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}

.menu a, .option a {
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

/* Nav Menu Design source https://codepen.io/billionbd/pen/gONadp */
.menu a::before,
.menu a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.menu a::before {
	margin-right: 10px;
	content: '[';
  color: var(--main);
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.menu a::after {
	margin-left: 10px;
	content: ']';
  color: var(--main);
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.menu a:hover::before,
.menu a:hover::after,
.menu a:focus::before,
.menu a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


.option button {
  margin: 0 5px;
  padding: 6px 12px;
  color: #ffff;
  background-color: var(--main);
  box-sizing: border-box;
  border: 1px solid var(--main);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}

h1 {
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h4 {
  color: var(--main);
  line-height: 40px;
}

span {
  color: var(--text);
  width: 791px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 50px;
}