@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;1,200&display=swap');

:root {
  --text: #667085;
  --main: #8E2424;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}

.menu a,
.option a {
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

/* Nav Menu Animation Design source https://codepen.io/billionbd/pen/gONadp */
.menu a::before,
.menu a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.menu a::before {
  margin-right: 10px;
  content: '[';
  color: var(--main);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.menu a::after {
  margin-left: 10px;
  content: ']';
  color: var(--main);
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.menu a:hover::before,
.menu a:hover::after,
.menu a:focus::before,
.menu a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


.option button {
  margin: 0 5px;
  padding: 6px 12px;
  color: #ffff;
  background-color: var(--main);
  box-sizing: border-box;
  border: 1px solid var(--main);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

.about-us h1 {
  color: var(--black);
  line-height: 60px;
  font-weight: 600;
  font-size: 44px;
  letter-spacing: -0.02em;
}

.about-us h4 {
  color: var(--main);
  line-height: 40px;
}

.about-us span {
  color: var(--text);
  width: 791px;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 40px;
}

.metrics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  padding: 0.5rem 6rem;
}

.metrics-container h1 {
  color: var(--main);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.metrics-container h4 {
  color: var(--black);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.metrics-container span, .jobs-container span {
  color: var(--text);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
}

.metric {
  width: 280px;
}

.jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12% 0;
}

.jobs-container h1 {
  color: var(--black);
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  line-height: 44px;
  padding: 1rem 0;
}

.jobs-container h4 {
  color: var(--main);
  width: 125px;
  height: 28px;
  background: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  padding: 3px;
}

.jobs-container img {
  width: 95%;
  padding: 2rem;
}